.header-container .header .header__gradient {
  background: linear-gradient(180deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .595) 6.67%, rgba(0, 0, 0, .579) 13.33%, rgba(0, 0, 0, .551) 20%, rgba(0, 0, 0, .512) 26.67%, rgba(0, 0, 0, .461) 33.33%, rgba(0, 0, 0, .401) 40%, rgba(0, 0, 0, .334) 46.67%, rgba(0, 0, 0, .266) 53.33%, rgba(0, 0, 0, .199) 60%, rgba(0, 0, 0, .139) 66.67%, rgba(0, 0, 0, .088) 73.33%, rgba(0, 0, 0, .049) 80%, rgba(0, 0, 0, .021) 86.67%, rgba(0, 0, 0, .005) 93.33%, transparent);
}

.Geotag_iconContainer__3Hmum {
  position: relative;
  width: 2.3rem;
  height: 2.3rem;
  cursor: pointer;
  opacity: .3;
}

.Geotag_iconContainer__3Hmum svg {
  position: absolute;
  overflow: visible;
  width: 100%;
  height: 100%;
}

.Geotag_continentsContainer__cux05 {
  position: relative;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.Geotag_continentsContainer__cux05 .Geotag_continents__eQ0qc {
  animation: Geotag_scroll1__BEeD_ 3s linear 0s infinite;
  position: absolute;
  height: 100%;
  padding-block-start: .1rem;
  padding-block-end: .1rem;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

.Geotag_continentsContainer__cux05 .Geotag_continents__eQ0qc svg {
  width: 3.6rem;
  height: 100%;
}

.Geotag_continentsAnimation2__Yrtuz {
  animation: Geotag_scroll2__qzGmG 3s linear 0s infinite;
}

@keyframes Geotag_scroll1__BEeD_ {
  0% {
    position: absolute;
    right: 0;
  }
  100% {
    position: absolute;
    right: 240%;
  }
}

@keyframes Geotag_scroll2__qzGmG {
  0% {
    position: absolute;
    right: 0;
  }
  100% {
    position: absolute;
    right: 240%;
  }
}

.style_button {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#ff5c4d), color-stop(26.56%, #eb469f), color-stop(75%, #8341ef), to(#3f68f9));
  background: -webkit-linear-gradient(left, #ff5c4d, #eb469f 26.56%, #8341ef 75%, #3f68f9);
  background: linear-gradient(90deg, #ff5c4d, #eb469f 26.56%, #8341ef 75%, #3f68f9);
  -webkit-transition: background .2s ease, -webkit-transform .2s ease;
  transition: background .2s ease, -webkit-transform .2s ease;
  transition: background .2s ease, transform .2s ease;
  transition: background .2s ease, transform .2s ease, -webkit-transform .2s ease;
}




.title h1 {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: -10px;
  font-weight: 700;
}

.title h1, .title div h1 {
  opacity: .8;
}

.title div {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: -1px;
  font-weight: 100;
}

.see-now-button {
  background: linear-gradient(135deg,#f50 69.91%,#d6bb00);;
}